@font-face {
    font-family: 'MyCustomFont';
    src: url(../font/RedHatText-VariableFont_wght.ttf);
}

body{
    font-family: 'MyCustomFont';
    background-image: url(../media/pexels-3motional-studio-407102-1081685.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.reg1 > h1{
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
}
.reg1{
    background-color: bisque;
    margin-left: 15pc;
    margin-right: 15pc;
    margin-top: 5pc;
    border-radius: 2pc;
    padding-top: 2px;
    padding-bottom: 3pc;
}

.reg1 > h1{
    text-decoration: underline;
    text-align: center;
}

.reg1 > h4{
    padding-left: 3.8pc;
}

.h4{
    position: relative;
    bottom: 1.5pc;
}

.reg1 > a{
    margin-left: 4pc;
}

.reg1 > ul{
    padding-left: 5pc;
    position: relative;
    bottom: 1pc;
    line-height: 2pc;
}


.reg1 > a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: 2px #040435 solid;
    border-radius: 5pc;
}

.reg1 > a:hover{
    color: white;
    background-color: #040435;
    padding: 10px 20px 10px 20px;
    border-radius: 5pc;
}